[alias]
  br = branch
  ci = commit
  co = checkout
  cp = cherry-pick
  heckit = reset --hard HEAD
  nicelog = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status
  unadd = reset HEAD
  uncommit = reset --soft HEAD^
[color]
  ui = true
[core]
  autocrlf = input
  editor = vim
  filemode = false
[credential]
  helper = osxkeychain
[diff]
  noprefix = false
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[init]
  templatedir = /Users/dnewton/.git_template
[pull]
  rebase = true
[push]
  default = simple
[user]
  name = Dave Newton
  email = dave.newton@shopify.com
